*{
  box-sizing: border-box;
}

html, body{
  font-family: "myriad-pro", sans-serif;
}

header{
  background: #00C8FF;
  color: white;
  padding: 20px;
  margin-bottom: 40px;
}

.container{
  display: block;
  width: 100%;
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0 20px;
}

a.download{
  border-radius: 5px;
  padding: 10px;
  background: #FFC800;
  color: black !important;
  width: 100%;
  max-width: 300px;
  margin: 5px auto 0 auto;
  font-weight: 100;
}

.doc-section{
  border: 5px solid #f7f7f9;
  border-radius: 5px;
  margin-bottom: 40px;
}

.doc-top{
  padding: 10px;
}

.doc-title{
  font-weight: 400 !important;
  margin-bottom: 0.6rem;
}

pre{
  background: #f7f7f9 !important;
  margin: 0 !important;
  border: 0 !important;
}

hr{
  margin-top:10px;
  margin-bottom:10px;
  border:0;
  border-top:1px solid #eee
}

.social-buttons{
  display: table;
  margin: 10px auto 20px auto;
  position: relative;
}

.social-buttons > iframe{
  margin-left: 5px;
  margin-right: 5px;
}

footer{
  padding: 20px 0;
  border-top: 1px solid #f7f7f9;
}

#demo-1{

}
.element{
  width: 200px;
  padding: 20px;
  background: #FFC800;
  margin-bottom: 10px;
  border-radius: 30px;
}
h3{
  margin-top: 0;
  margin-bottom: 10px;
}

#peanuts{
  width: 100% !important;
  -moz-filter: blur(20px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
