*{
  box-sizing: border-box;
}

html, body{
  font-family: "myriad-pro", sans-serif;
}

header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0081af+0,72238e+100 */
  background: #0081af; /* Old browsers */
  background: -moz-linear-gradient(left,  #0081af 0%, #72238e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0081af 0%,#72238e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0081af 0%,#72238e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0081af', endColorstr='#72238e',GradientType=1 ); /* IE6-9 */

  color: white;
  padding: 20px;
  margin-bottom: 40px;
}

.container{
  display: block;
  width: 100%;
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0 20px;
}

.download{
  border-radius: 5px;
  padding: 10px;
  background: #FFC800;
  color: black !important;
  width: 100%;
  max-width: 300px;
  margin: 5px auto 10px auto;
  font-weight: 400;
  border: 0;
  cursor: pointer;
}

.doc-section{
  border: 5px solid #f7f7f9;
  border-radius: 5px;
  margin-bottom: 40px;
}

.twitter-share-button{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.doc-top{
  padding: 10px;
}

.doc-title{
  font-weight: 400 !important;
  margin-bottom: 0.6rem;
}

#pressure-test{
  background: #E02050;
  color: white !important;
  font-weight: bold;
}

pre{
  background: #f7f7f9 !important;
  margin: 0 !important;
  border: 0 !important;
}

hr{
  margin-top:10px;
  margin-bottom:10px;
  border:0;
  border-top:1px solid #eee
}

.social-buttons{
  display: table;
  margin: 10px auto 20px auto;
  position: relative;
}

.social-buttons > iframe{
/*  margin-left: 5px;
  margin-right: 5px;*/
}

footer{
  padding: 20px 0;
  border-top: 1px solid #f7f7f9;
}

#demo-1{

}
.element{
  width: 200px;
  padding: 20px;
  background: #FFC800;
  margin-bottom: 10px;
  border-radius: 30px;
}
h3{
  margin-top: 0;
  margin-bottom: 10px;
}

.wrap-peanuts{
  width: 100% !important;
  overflow: hidden;
}

#peanuts{
  width: 100% !important;
  -moz-filter: blur(20px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  cursor: default;
}

#spinning-cube{
  width: 200px;
  height: 200px;
  -webkit-transform: rotateY(0deg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  cursor: default;
}
